*.suo
*.backup
*.user
*.dbmdl
*.pptx
*.psess
*.orig
*.xml
*.~vsd
*.zip
*.sublime-project
*.sublime-workspace
*.exe
*.avi
*.mp4
*.mov
*.rar
*.mdf
*.ldf
**/nuspec.list
**/packages/
**/.sass-cache/
**/node_modules/
**/bower_components/
*/Performance/*TestResults.txt
**/bin
**/obj
**/*.log.1
**/*.log.*
*.log
*.db
.vs/
Publish/
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode/

# Rider
.idea/

# Visual Studio
.vs/

# Fleet
.fleet/

# Code Rush
.cr/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn